<!DOCTYPE html>
<html lang="en" dir="ltr">
		<head>
			<meta charset="utf-8">
			<title>Ride Mere Saath!</title>
		</head>
		<body>
			<h1>Welcome to our HOME PAGE!</h1>
			<br>
			<button type="button" name="ride"><a href="/ride/Developer">BOOK A RIDE</a></button>
			<button type="button" name="signup"><a href="/signup">MY PROFILE</a></button>
			<button type="button" name="contact"><a href="/contact">CONTACT US</a></button>
			<button type="button" name="about"><a href="/about">ABOUT US</a></button>
			<br>
			<p>We are Car Pooling Service App...</p>
		</body>
</html>
